canvas {
    display: block;
    margin-left: 700px;
    margin-top: -60px;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#buttonBack {
    display: inline-block;
    text-align: center;
    background: 0;
    width: 80px;
    height: 80px;
    border-radius: 80px;
}

.buttons {
    display: block;
    margin: 28px auto;
    margin-left: 1000px;
    text-align: center;
    width: 800px;
    height: 150px;
    background-color: white;
    font-size: 40px;
    font-family: "Montserrat SemiBold", serif;
    color: #292929;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

button {
    margin: auto;
    width: 300px;
    height: 80px;
    color: white;
    border-radius: 10px;
    font-size: 40px;
    font-family: "Montserrat SemiBold", serif;
    background-color: #800000;
}

#buttonStart{
    background-color: green;
}

body {
    background: url(../images/fon.png); background-size: 100%;
}

@font-face {
    font-family: "Montserrat SemiBold";
    src: url("../Font/Montserrat.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}