tr, td{
    border: 1px solid #000000;
}

body{
    background-color: #e5e4e4;
    margin: 3%;
}

.header, .inputSize, .sidebar {
    width: 40%;
    position: relative;


}

button {
    background-color: white;
    width: 200px;
    margin: 5px;
    border: 1px solid black;
    color: black;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 7px;
}

button:active {
    color: #0000ff;
    border-color: #222222;
}

button:hover {
    background-color: #e5e4e4;
}


.map {
    top:100px;
    right: 500px;
    background: #ffffff;
    border: 1px solid;
    grid-gap: 100px;
    width:650px;
    height:650px;
    position: absolute;
    margin: 1em auto 2em;
}

.map-block[data-status="closed"] {
    background: #000;
}

.map-block[data-status="begin"] {
    background: #3fff3f;
}

.map-block[data-status="end"] {
    background: #ff0000;
}

.map-block[data-status="path"] {
    background: #006fff;
}










